main {
	min-height: 400px;
}
footer ul {
	justify-content: space-between;
	margin-bottom: 0;
	flex-wrap: wrap;
}
footer ul li a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}

footer ul li a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0);
}

nav .navbar-nav {
	justify-content: space-between;
}

.top p {
	font-size: 0.75em;
	margin: 0;
}

.top.top-logos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.top.top-logos div {
	line-height: normal;
}

.alert .close {
	cursor: pointer;
}

@media(max-width: 767px) {
	nav a.d-none {
		display: block !important;
	}
}